/* Like a window */
#app-mount .layers-OrUESM {
    margin-bottom: 26px;
    margin-left: 16px;
    margin-right: 16px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
}
#app-mount .layers-OrUESM {
    border: var(--the-borders);
    border-top: 0 !important;
    box-shadow: var(--elevation-high);
}
#app-mount .withFrame-haYltI {
    background: var(--drag-background);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    margin-left: 16px;
    margin-right: 16x;
    margin-top: 16px;
    min-height: 22px;
    border: var(--the-borders);
    flex-direction: row;
}
#app-mount .withFrame-haYltI::after {
    top: 22px;
    margin-left: 80px;
}
/* ARMCord */
.titlebar {
    overflow: inherit;
    background-color: #20222500;
}

.titlebar #window-controls-container {
    background-color: #ffffff00;
    margin-top: 27px;
    margin-right: 37px;
}
.titlebar #window-title {
    display: none;
}
