/*** Collapsed members list snippet but now with a hacky way of showing the members count. ***/
.content-yTz4x3:before { /* Fix topbar shadow */
    z-index: 12;
}
[class*="membersWrap-"] {
    margin-right: -175px;
    transition: transform .35s;
    z-index: 10;
}
[class*="membersWrap-"]:hover,
[class*="membersWrap-"]:focus,
[class*="membersWrap-"]:focus-within {
    transform: translatex(-175px);
}
[class*="membersWrap-"] > [class*="members-"] {
    background-color: var(--background-primary);
    transition: background-color .2s;
    max-width: 200vw;
}
[class*="membersWrap-"] > [class*="members-"] > div {
    background: none !important;
}

[class*="membersWrap-"]:hover > [class*="members-"],
[class*="membersWrap-"]:focus-within > [class*="members-"] {
    background-color: var(--background-secondary);
}
[class*="membersWrap-"] [class*="membersGroup-"] {
    margin-right: auto;
    width: 55px;
    text-overflow: clip;
    direction: rtl;
    word-spacing: 1000px;
}
[class*="membersWrap-"]:hover [class*="membersGroup-"],
[class*="membersWrap-"]:focus-within [class*="membersGroup-"] {
    width: 100%;
    margin: 0;
    direction: ltr;
    word-spacing: unset;
    text-overflow: ellipsis;
}
[class*="membersWrap-"] [class*="member-"] [class*="content-"] {
    filter: opacity(0);
    transition: filter .2s;
}
[class*="membersWrap-"]:hover [class*="membersGroup-"],
[class*="membersWrap-"]:focus-within [class*="membersGroup-"],
[class*="membersWrap-"]:hover [class*="member-"] [class*="content-"],
[class*="membersWrap-"]:focus-within [class*="member-"] [class*="content-"] {
    filter: opacity(1);
}