/* ----------------------------------------------------------------------- */
/*DIM CHANNELS-SERVER LIST-MEMBER LIST */
/* ----------------------------------------------------------------------- */
:root {
  --dim-channels: 90%;
  --dim-members: 90%;
  --dim-serverlist: 90%;
  --dim-dms: 100%;
}
/* dimmed channel list */
.link-1_kTxV {
  opacity: var(--dim-channels);
}
/* dimmed member list */
.members-3WRCEx {
  opacity: var(--dim-members);
}
/* dimmed server list */
.scroller-3X7KbA {
  opacity: var(--dim-serverlist);
}
/* dimmed dms */
.scroller-WSmht3 > ul {
  opacity: var(--dim-dms);
}
/*~~~~~~~~~~~xxx~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~~~xxx~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
