
/* ----------------------------------------------------------------------- */
/*FONT SETTINGS*/ /*REPALCE THE fonts.google link with a font from fonts.google.com theyve got a great selection.*/
/* ----------------------------------------------------------------------- */
@font-face {
  src: url("https://raw.githubusercontent.com/trebor048/discordddd/main/fonts/SF-Pro-Rounded-Light.ttf");
  font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 300;
}

:root {
  --line-spacing: var(--message-line-spacing);
}
/* Apply styles */
::-webkit-input-placeholder,
body,
button,
input,
select,
textarea {
  font-family: "SF Pro Rounded", sans-serif !important;
  word-spacing: var(--word-spacing, initial);
  letter-spacing: var(--letter-spacing, initial);
}
/*Adjust formatted text line-height 
  [class*="messageContent-" i] {
      line-height: var(--message-line-spacing, initial) !important;
  }
  */
/* Scale up timestamps & "Edited" text */

[class*="group-spacing" i] [class*="timestamp"],
[class*="messageContent-" i] time {
  font-size: 0.8rem;
}
/* FONT SIZE VARIABLES */

:root {
  --word-spacing: unset;
  --letter-spacing: unset;
  --message-line-spacing: unset;
}
/*~~~~~~~~~~~xxx~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~~~xxx~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
