/*.lowerBadge-3j0ZAg,.numberBadge-37OJ3S{border-radius:8px !important;}
.conBadge-1D5-9X{min-height:24px;min-width:24px;background-color:#1b6911}
*/
.upperBadge-1d6YsW,.lowerBadge-3j0ZAg,.numberBadge-37OJ3S{box-shadow:0 0 0 0;margin-bottom: 1px;margin-right: 1px;}
.iconBadge-32fMme{background-color: #1b6911;min-height: 24px;min-width: 24px;}
