 :root {
     --BG-GRADIENT: linear-gradient(120deg, rgba(40, 60, 121, 0.95), rgba(14, 62, 110, 0.95), rgba(29, 78, 111, 0.95));
 }

 :root {
     --word-spacing: 0.05rem;
     --letter-spacing: 0.02rem;
 }

 body {
     word-spacing: var(--word-spacing, initial);
     letter-spacing: var(--letter-spacing, initial);
 }

 [class*="group-spacing" i] [class*="timestamp"],
 [class*="messageContent-" i] time {
     font-size: 0.9rem;
     color: rgba(255, 255, 255, 0.15)
 }


 :root {
    --hue-cycler-1: #0064a7; /* Adjust color values as needed */
    --hue-cycler-2: #043874;
    --hue-cycler-3: #101455;
    --gradient-colors: var(--hue-cycler-1), var(--hue-cycler-2), var(--hue-cycler-3); /* Define gradient colors */
    --gradient-speed: 60s; /* Adjust the default speed as needed */
  }
  

 @keyframes hueCycler1 {
    0%, 100% {filter: hue-rotate(0deg);}
    33.33% {filter: hue-rotate(120deg);}
    66.66% {filter: hue-rotate(240deg);}}
      
    @keyframes hueCycler2 {
    0%, 100% {filter: hue-rotate(0deg);}
    33.33% {filter: hue-rotate(120deg);}
    66.66% {filter: hue-rotate(240deg);}}
      
    @keyframes hueCycler3 {
    0%, 100% {filter: hue-rotate(0deg);}
    33.33% {filter: hue-rotate(120deg);}
    66.66% {filter: hue-rotate(240deg);}}
      
    @keyframes moveGradient {
    0% {background-position: 0% 50%;}
    100% {background-position: 100% 50%;}}
      

 #app-mount {
    background-image: linear-gradient(120deg, var(--gradient-colors)); /* Use the gradient colors variable */
    width: 100%;
    height: 100%; /* Adjust height as needed */
    background-size: 300% 100%; /* Make the background really big */
    animation: moveGradient var(--gradient-speed) linear infinite; /* Use the CSS variable for animation duration */
     /*background-image: var(--BG-GRADIENT);
     background-size: 120% 750%;
     animation: bg 60s ease-in-out infinite;*/
 }

 :root {
     --transfull: transparent;
     --background-primary: transparent;
     --background--secondary: rgba(0, 0, 0, 0);
     --background--secondary-alt: rgba(0, 0, 0, 0);
     --background-tertiary: var(--background-main);
     --background-floating: rgba(0, 0, 0, 0);
     --bg-backdrop: var(var(--grad));
     --bg-base-primary: rgba(0, 0, 0, 0);
     --bg-base-secondary: rgba(0, 0, 0, 0);
     --bg-base-tertiary: rgba(0, 0, 0, 0);
     --title-button-right: 10px;
     --blacktrans: rgba(0, 0, 0, 0.4);
     --blacktrans2: rgba(0, 0, 0, 0.2);
     --blacktrans3: rgba(0, 0, 0, 0.075);
     --gren: #1f842d;
     --reed: #ed4443;
     --status-danger: var(--reedtrans) !important;
     --scrollbar-auto-thumb: var(--white);
     --scrollbar-auto-track: var(--blacktrans2);
     --scrollbar-thin-thumb: var(--white);
     --scrollbar-thin-track: var(--transfull);
     --guild-list-width: 198px;
     --guild-list-height: 48px;
     --guild-item-radius: 5px;
     --guild-item-spacing: 8px;
     --guild-item-font-size: 16px;
     --bradius: 16px;
     --reedtrans: #f723239f;
     --brand-experiment: rgb(0, 123, 255);
     --green-360: var(--brand-experiment);
     --background-modifier-selected: var(--brand-experiment);
 }

 html,
 body,
 #app-mount {
     border-radius: 16px;
 }

 .winButton__88672 {
     margin: 6px;
 }

 .vc-channeltabs-tab .baseShapeRound__95d0f {
     background-color: var(--transfull) !important;
 }

 .vc-channeltabs-container .eyebrow__60985 {
     font-size: 130%;
     letter-spacing: 0;
     line-height: 1;
 }

 .vc-channeltabs-channel-info .baseShapeRound__95d0f .vc-channeltabs-container {
     box-shadow: var(--guild-header-text-shadow);
 }

 .vc-channeltabs-separator {
     background: var(--blacktrans);
     box-shadow: var(--elevation-high);
     width: 101%;
     margin: 0px 0px 0px -5px;
     padding: 0px;
     min-height: 0px;
     border-radius: 50px;
 }

 .vc-channeltabs-tab {
     border-radius: 8px 8px 0px 0px;
     margin-left: 0px;
     background-color: var(--blacktrans);
 }

 .vc-channeltabs-tab-container {
     width: calc(100vw - 125px);
 }

 .titleBar__01af6>[aria-label^="Close"]>svg:hover {
     transform: scale(1.8);
     transition: transform 0.2s ease-in-out;
     background-color: #f97a7a !important;
 }

 .titleBar__01af6>[aria-label^="Close"]>svg {
     transform: scale(1.5);
     transition: transform 0.4s ease-out;
     background-color: #f25056 !important;
     background-size: cover !important;
     border: 1px rgba(75, 75, 75, 0.8) solid;
     border-radius: 25px;
 }

 .titleBar__01af6>[aria-label^="Close"]>svg>polygon {
     display: none;
 }

 .titleBar__01af6>[aria-label^="Close"] {
     background: none !important;
     right: var(--title-button-right);
     margin-top: -26px;
     transition: margin-top 0.15s ease 0.56s;
 }

 body:hover .titleBar__01af6>[aria-label^="Close"] {
     margin-top: 2px;
     transition: margin-top 0.8s ease 0.1s;
 }

 [aria-label^="Minimise"]>svg:hover,
 [aria-label^="Minimize"]>svg:hover {
     transform: scale(1.8);
     transition: transform 0.2s ease-in-out;
     background-color: #fbe096 !important;
 }

 [aria-label^="Minimise"]>svg,
 [aria-label^="Minimize"]>svg {
     transform: scale(1.5);
     transition: transform 0.4s ease-out;
     background-color: #fac536 !important;
     background-size: cover !important;
     border: 1px rgba(75, 75, 75, 0.8) solid;
     border-radius: 25px;
 }

 [aria-label^="Minimise"]>svg>rect,
 [aria-label^="Minimize"]>svg>rect {
     display: none;
 }

 [aria-label^="Minimise"],
 [aria-label^="Minimize"] {
     background: none !important;
     right: var(--title-button-right);
     margin-top: -40px;
     transition: margin-top 0.15s ease 0.26s;
 }

 body:hover [aria-label^="Minimise"],
 body:hover [aria-label^="Minimize"] {
     margin-top: 2px;
     transition: margin-top 0.8s ease 0.65s;
 }

 [aria-label^="Maximise"]>svg:hover,
 [aria-label^="Maximize"]>svg:hover {
     transform: scale(1.8);
     transition: transform 0.2s ease-in-out;
     background-color: #85fb8f !important;
 }

 [aria-label^="Maximise"]>svg,
 [aria-label^="Maximize"]>svg {
     transform: scale(1.5);
     transition: transform 0.4s ease-out;
     background-color: var(--gren) !important;
     background-size: cover !important;
     border: 1px rgba(75, 75, 75, 0.8) solid;
     border-radius: 25px;
 }

 [aria-label^="Maximise"]>svg>rect,
 [aria-label^="Maximize"]>svg>rect {
     display: none;
 }

 [aria-label^="Maximise"],
 [aria-label^="Maximize"] {
     background: none !important;
     right: var(--title-button-right);
     margin-top: -35px;
     transition: margin-top 0.15s ease 0.4s;
 }

 body:hover [aria-label^="Maximise"],
 body:hover [aria-label^="Maximize"] {
     margin-top: 2px;
     transition: margin-top 0.8s ease 0.4s;
 }

 .titleBar__01af6 {
     margin-bottom: -26px;
     margin-left: 40%;
 }

 .wordmarkWindows__05c46 {
     display: none;
 }

 .winButton__88672>svg {
     margin-bottom: -10px !important;
 }

 [id=vc="friendcount"],
 [id=vc="guildcount"] {
     display: none !important;
 }

 @keyframes bg {
     0% {
         background-position: 0% 0%
     }

     25% {
         background-position: 37% 88%
     }

     38% {
         background-position: 0% 0%;
     }

     50% {
         background-position: 100% 100%;
     }

     76% {
         background-position: 0% 0%;
     }

     89% {
         background-position: 92% 66%;
     }

     100% {
         background-position: 0% 0%
     }
 }

 @keyframes flash {
     0% {
         background-color: #068edd
     }

     50% {
         background-color: rgba(6, 142, 221, 0.5)
     }

     100% {
         background-color: #068edd
     }
 }

 @keyframes blinkColor {
     0% {
         color: white;
     }

     50% {
         color: #835454;
     }

     100% {
         color: white;
     }
 }

 @keyframes blinkBGColor {
     0% {
         background-color: white;
     }

     50% {
         background-color: #835454;
     }

     100% {
         background-color: white;
     }
 }

 svg[aria-label="Mobile"],
 rect[mask*="-mobile"] {
     display: none;
 }

 .menu_dc52c6 {
     background: var(--BG-GRADIENT);
     border-radius: var(--bradius);
 }

 .menu_dc52c6 .button__3ecb4 {
     background-color: var(--blacktrans);
 }

 .menu_dc52c6 .button__3ecb4:hover {
     background-color: var(--background-modifier-selected);
 }

 .theme-dark .tooltipPrimary_e5c00d,
 .theme-light .tooltipPrimary_e5c00d {
     background-color: var(--brand-experiment);
 }

 .background__3b30f {
     background-color: var(--transfull);
     border-radius: var(--bradius);
 }

 .pictureInPictureVideo_f1081d {
     resize: both !important;
     background: var(--transfull);
     border-radius: var(--bradius);
     box-shadow: none;
 }

 .pictureInPictureWindow_dc49a8.elevationHigh__80ea8.borderRadius__3965c {
     border-radius: var(--bradius);
     box-shadow: none;
 }

 [class^="avatar-"],
 img.avatar__08316,
 svg.Avatar__mask>foreignObject {
     mask: none !important;
     border-radius: 10px;
 }

 .svg_ad7356 {
     border-radius: 0;
 }

 .svg_ad7356 mask {
     display: none;
 }

 .svg_ad7356 foreignObject {
     border-radius: 10px;
 }

 .auto_a48086::-webkit-scrollbar-thumb {
     background-color: white !important;
 }

 .thin_b1c063::-webkit-scrollbar-thumb {
     border: none;
     border-radius: 12px;
     background-color: white !important;
 }

 .contentWrapper__321ed {
     background-color: var(--blacktrans);
     opacity: 0.7;
 }

 div.drawerSizingWrapper__30274 {
     height: 80vh;
     bottom: 0px;
     right: 5px;
     width: 600px;
 }

 [class^="nameAndDecorator"] .vc-platform-indicator {
     flex-direction: column;
     margin-left: 2px !important;
     margin-right: -2px;
     max-height: 30px;
 }

 [class^="nameAndDecorator"] .vc-platform-indicator svg {
     width: 16px;
 }

 [class^="nameAndDecorator"] .vc-platform-indicator :only-child {
     height: 16px;
 }

 [class^="nameAndDecorator"] .vc-platform-indicator :nth-child(3) {
     position: absolute;
     height: 16px;
     margin-left: 20px;
 }

 .container-2nx-BQ:not(.checked-25WXMf) {
     background-color: #f04747 !important;
 }

 .container-2nx-BQ:not(.checked-25WXMf) path {
     fill: #f04747 !important;
 }

 .container-2nx-BQ.checked-25WXMf {
     background-color: var(--brand-experiment) !important;
 }

 .container-2nx-BQ.checked-25WXMf path {
     fill: var(--brand-experiment) !important;
 }

 [class^=childWrapper_],
 [class^=circleIconButton_],
 [class^=scroller_],
 [class^=typeWindows_],
 [class^=folder_],
 [class^=folderIconWrapper_],
 [class^=expandedFolderBackground_] {
     background: none !important;
 }

 body,
 html,
 .app_de4237,
 .bg__12180,
 .platform-win,
 .theme-dark,
 .privateChannels__93473,
 .base__3e6af,
 .panels__58331,
 .chat__52833,
 .container__037ed,
 .layer_3552e0.baseLayer__8fda3,
 .layers__1c917.layers_a23c37,
 .platform-win .bg__12180 .app_de4237,
 .app_b1f720,
 .notAppAsidePanel__9d124,
 .appAsidePanelWrapper__714a6,
 .base__3e6af,
 .appAsidePanelWrapper__714a6,
 .notAppAsidePanel__9d124,
 .app_b1f720,
 .pageWrapper_fef757,
 .channelRow__96673,
 .header_c43d51,
 [aria-label="Members"],
 .container_b2ce9c,
 .membersWrap__90226,
 .members__9f47b,
 .mainTableContainer__5ffe0,
 .content__1a4fe,
 .container__0a6a9,
 .container__11d72,
 .container__5c7e7,
 .nowPlayingColumn_f5023f,
 .sidebar_ded4b5,
 .chat__52833,
 .container_b2ce9c,
 .scroller__4b984,
 .privateChannels__93473,
 .chatContent__5dca8,
 .title_b7d661,
 .userPanelOuter__880e5,
 .userPanelInner_eddf4c,
 .container__590e2,
 .members__9f47b,
 .member_aa4760,
 .container_de798d,
 .panels__58331,
 #vc-spotify-player,
 .container_ca50b9,
 .panels__58331 div,
 .theme-dark .platform-win,
 .theme-dark .scroller__4b984,
 .platform-win,
 .theme-dark .form__13a2c:before,
 .theme-dark .form__13a2c:after,
 #channels,
 body,
 .chat__52833,
 .content__1a4fe::after,
 .container__93316,
 .chatContainer__23434,
 .container__590e2,
 .sidebar_ded4b5,
 .chatContent__5dca8 {
     background: var(--transfull);
 }

 .wrapper__7bcde .link__95dc0,
 .container__4f20e,
 .channel_c21703,
 .side_b4b3f6 .item__48dda,
 .messageContent__21e69 {
     transition: margin-left 0.1s ease;
 }

 .messageContent__21e69:hover {
     margin-left: calc(-0.8 * var(--custom-message-margin-left-content-cozy));
 }

 .wrapper__7bcde:hover .link__95dc0,
 .side_b4b3f6 .item__48dda:hover {
     margin-left: 10px;
 }

 .container__4f20e:hover,
 .channel_c21703:hover {
     margin-left: 18px;
 }

 [class^="profileEffects"] {
     display: none;
 }

 .panels__58331>.wrapper__0ed4a {
     background-color: var(--transfull);
     margin-top: 10px;
     border-radius: 12px;
 }

 .theme-dark .container_ca50b9 {
     background-color: var(--transfull);
     border-top-right-radius: 16px;
     border-top-left-radius: 16px;
 }

 .theme-dark .panels__58331 {
     background: var(--blacktrans);
     margin-top: 10px;
 }

 [aria-label="Microphone Settings"] {
     padding: 0px;
     margin: 0px;
     max-height: 10px;
 }

 .button__66e8c .buttonColor_a6eb73,
 .button__66e8c.buttonColor_a6eb73:hover {
     background-color: var(--brand-experiment);
 }

 .panels__58331:not(:has(.wrapper__0ed4a))>.container_ca50b9 {
     background-color: var(--blacktrans);
     border-radius: 12px 12px 0 0;
 }

 [aria-label="Disconnect"] {
     color: var(--status-danger);
 }

 .panels__58331 {
     border-top-left-radius: 12px;
     border-top-right-radius: 12px;
     margin-bottom: -2px;
 }

 .container__ca50b9>withTAgAsButton_cc125f {
     min-width: 50px;
     margin-right: -120px;
 }

 .container_d667ff {
     background: var(--transfull);
     border-bottom-left-radius: 12px;
     border-bottom-right-radius: 12px;
     border-top-right-radius: 0px;
     border-top-left-radius: 0px;
 }

 .background_b61fcc {
     background: var(--blacktrans)
 }

 .background_b61fcc:hover {
     background: var(--blacktrans2)
 }

 .background_b61fcc>div {
     background: var(--transfull);
 }

 .sidebarRegion__60457 {
     background: var(--blacktrans);
     border-radius: 12px;
     justify-content: flex-start;
 }

 .sidebarRegion__60457,
 .sidebarRegionScroller__1fa7e {
     border-radius: 12px;
     justify-content: start;
     margin-top: -40px;
     overflow-x: hidden;
     background: rgba(0, 0, 0, 0.26);
     border-right: white 1px inset;
     max-width: 15vw;
     min-width: 235px;
 }

 .eyebrow_f53856 {
     font-size: 115%;
     color: white;
     text-transform: capitalize bold;
     margin-left: -10px;
 }

 .side_b4b3f6 .item__48dda {
     margin-left: 15px;
 }

 .contentColumnDefault_c66386 {
     padding: 35px;
     max-width: 100%;
 }

 .closeButton__34341 {
     border: 0;
     background-color: var(--reed);
     border-radius: 5px;
     transform: scale(0.8);
     box-shadow: rgba(0, 0, 0, 0.35) 0px -30px 36px -38px inset;
     transition: 0.4s ease-in-out;
 }

 .closeButton__34341 svg {
     padding: 1px;
     color: white;
     border-radius: 5px;
 }

 .keybind__57645 {
     color: white
 }

 .contentRegionScroller__86c79 .tools_c0ff70 {
     transform: scale(1.3);
 }

 .members__9f47b.thin_b1c063.scrollerBase_dc3aa9.fade_ba0fa0.customTheme_db4d28 {
     margin-left: 4px;
     background: var(--blacktrans);
     border-radius: 16px 0px 0px 16px;
 }

 .container_b2ce9c {
     margin-left: -10px;
     width: 260px;
     margin-top: 2vh;
     overflow-x: visible;
     max-height: 96%;
     margin-bottom: 2vh;
 }

 .members__9f47b {
     background: var(--transfull)
 }

 .member_b44d5d {
     background: var(--transfull);
 }

 .memberInner_a32223.layout_bb8e67>.avatar__6337f {
     transform: scale(1.1);
     margin: 0px 16px -2px 0px;
 }

 .memberInner_a32223 .content_a6999d {
     transform: scale(1.075);
     margin-top: 0px;
 }

 .container_de798d {
     font-size: 15px;
     color: white;
     padding: 10px 0px 2px 0px;
     text-underline-offset: 4px;
     text-decoration: double underline;
 }

 .container_de798d {
     height: fit-content;
 }

 .container_de798d span {
     text-align: center;
     display: flex;
     justify-content: center;
 }

 #vc-membercount {
     opacity: 1
 }

 .channelTextArea__2e60f,
 .themedBackground__6b1b6 {
     background-color: var(--blacktrans2);
 }

 .placeholder_e68c63,
 .textAreaSlate_e0e383 div {
     color: white;
 }

 .jumpToPresentBar__0ff7f {
     margin-bottom: 75vh;
     background-color: transparent;
     border-top: none;
     border-radius: 0px 0px 14px 14px;
     right: 64%;
     margin-right: 10.5%;
     width: 20%;
     flex-direction: column;
     z-index: 19;
 }

 .newMessagesBar__8b6d7 {
     height: 6vh;
     width: 90%;
     margin-left: 5%;
     margin-right: 3.5%;
     background-color: #01649c;
     border: white 3px inset;
     border-top: none;
     animation: flash 0.8s infinite ease-in-out;
     border-radius: 0 0 25px 25px;
 }

 #app-mount>div.App__appAsidePanelWrapper.appAsidePanelWrapper__714a6>div.App__notAppAsidePanel.notAppAsidePanel__9d124>div.App__app.app_b1f720>div>div.BaseLayer__layers.layers__1c917.AppLayers__layers.layers_a23c37>div>div.LeftSidebar__container.container__037ed>div>div>div.Channel__chat.chat__52833>div>div.ChatContainer__container.container__93316>div.ChatContainer__chatContainer.chatContainer__23434>main>div.Messages__messagesWrapper.messagesWrapper_ea2b0b.group-spacing-16>div.ChatBar__newMessagesBar.newMessagesBar__8b6d7.ChatBar__barBase.barBase__4e0ba>button.ChatBar__barButtonMain.barButtonMain__0f5c6.ChatBar__barButtonBase.barButtonBase__8fa46 {
     text-align: center;
     transform: scale(3);
 }

 .barBase__4e0ba,
 .newMessagesBar__8b6d7.barBase_4e0ba {
     width: -moz-fit-content;
     margin-left: auto;
 }

 .ChatBar__barButtonAlt.barButtonAlt__4b48f.ChatBar__barButtonBase.barButtonBase__8fa46 {
     z-index: 20;
 }

 [aria-describedby^="NewMessagesBarJumpToNewMessages"] {
     margin-left: 50px;
     height: 4vh;
 }

 .span_a7874a {
     font-size: 200%;
 }

 div.animatedContainer__341f6 {
     background: var(--transfull);
 }

 .theme-dark .container__590e2 {
     border-radius: 16px 0px 16px 16px;
     background: var(--blacktrans) !important;
 }

 a.link__95dc0 {
     background: var(--transfull)
 }

 .sidebar_ded4b5 {
     background: var(--transfull);
 }

 .name__590d6.container_de798d {
     font-size: 18px;
     font-weight: bold;
     color: white;
 }

 .containerDefault__23a29 {
     padding-top: 20px;
     padding-bottom: 5px;
 }

 .containerDefault__3187b,
 .containerDefault__3187b .link__95dc0 {
     height: fit-content;
 }

 .containerDefault__3187b {
     padding-top: 0px;
     padding-bottom: 0px;
     border-radius: 7px;
 }

 .modeUnread_f74c03 .name__8d1ec {
     color: white;
 }

 .platform-win .sidebar_ded4b5 {
     background: var(--transfull);
 }

 .theme-dark .scroller__4b984 {
     background: var(--blacktrans);
     border-bottom-left-radius: 12px;
     border-bottom-right-radius: 12px;
     margin-bottom: 0px;
 }

 .modeUnreadImportant_efb53e .name__8d1ec {
     color: white;
     text-transform: uppercase;
     font-style:oblique;
 }

 .GuildChannelInner__unreadImportant.unreadImportant_c775b3 {
     animation: blinkBGColor 2s infinite;
 }

 .bar__004d9 {
     background-color: var(--brand-experiment);
     border-radius: 5px;
 }

 .searchBar_e0c60b {
     background: var(--blacktrans2);
 }

 .searchBar_e4ea2a {
     background: var(--blacktrans)
 }

 [id^=chat-messages-] {
     background-color: var(--blacktrans);
     margin: 0 15px;
 }

 [id="---new-messages-bar"]:not(:has(+ [id^=chat-messages-] [id^=message-username-])) {
     transform-style: preserve-3d;
 }

 [id="---new-messages-bar"]:not(:has(+ [id^=chat-messages-] [id^=message-username-]))::before {
     content: "";
     width: calc(100% + 30px);
     height: 9px;
     position: absolute;
     top: -5px;
     left: -16px;
     transform: translateZ(-1px);
 }

 [id^=chat-messages-]:has([id^=message-username-]),
 [id^=chat-messages-]:has(.isSystemMessage__2ef37) {
     border-top-left-radius: 14px;
     border-top-right-radius: 14px;
     margin-top: 16px;
 }

 [id^=chat-messages-]:is( :has(+ [class*=scrollerSpacer__]), :has(+ :not([id^=chat-messages-]) + [id^=chat-messages-] [id^=message-username-]), :has(+ [id^=chat-messages-] [id^=message-username-]), :has(+ [id^=chat-messages-] .isSystemMessage__2ef37)) {
     border-bottom-left-radius: 14px;
     border-bottom-right-radius: 14px;
     box-shadow: rgba(0, 0, 0, 0.4) 1px 6px 5px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 }

 .message__80c10:not(.groupStart__56db5) .headerText_f47574 {
     display: none;
 }

 #app-mount .baseLayer__8fda3 {
     opacity: 1 !important;
     transform: scale(1) !important;
 }

 .baseLayer__8fda3[aria-hidden="true"] {
     pointer-events: none;
 }

 .standardSidebarView__1129a {
     opacity: 1 !important;
 }

 .layer__2efaa+.layer__2efaa {
     opacity: 1 !important;
     transform: unset !important;
 }

 .layer__2efaa[aria-hidden="false"]+.layer__2efaa[aria-hidden="false"] {
     display: none;
 }

 .baseLayer__8fda3[aria-hidden="true"] {
     pointer-events: none;
 }

 .layers__1c917>.layer__2efaa.animating__27211 {
     will-change: unset !important;
 }

 .accountProfilePopoutWrapper_af829a {
     left: 708px;
     top: 50px;
 }

 .layerContainer_d5a653:has([class^="userPopoutOuter_"]) {
     backdrop-filter: blur(10px) !important;
 }

 .accountProfilePopoutWrapper_af829a {
     animation: 0.5s ease-out slide;
 }

 @keyframes slide {
     from {
         transform: translate(0, -1600px);
     }

     to {
         transform: translate(0, 0px);
     }
 }

 [data-list-item-id="guildsnav___home"]>div {
     background-image: url('https://media.discordapp.net/stickers/1092742917535318016.webp?size=96');
     background-size: contain;
     background-repeat: no-repeat;
 }

 [data-list-item-id="guildsnav___home"]>div>svg {
     display: none !important;
 }

 div.GuildsSidebar__scroller.scroller__3d071.Scroller__none.none__51a8f.Scroller__scrollerBase.scrollerBase_dc3aa9>button {
     width: 85%;
     height: 24px;
     border-radius: 4px;
     transition: 0.22499999999999998s ease-out;
     margin: 6px;
 }

 .guilds__2b93a:hover div.GuildsSidebar__scroller.scroller__3d071.Scroller__none.none__51a8f.Scroller__scrollerBase.scrollerBase_dc3aa9>button {
     width: 94%;
     transition: 0.9375s ease-out 0.075s;
 }

 .guilds__2b93a {
     width: var(--guild-list-width)
 }

 .blobContainer__5ee50,
 .listItem_fa7b36,
 .listItem_fa7b36>.wrapper__3670f+div:not([class]),
 .svg_ad7356,
 .svg_ad7356>foreignObject,
 .wrapper__3af0b,
 .wrapper_ed1dea {
     width: var(--guild-list-width);
     mask: none
 }

 .circleIcon__428dd,
 .listItem_fa7b36:not(:has(.guildSeparator_dcb3cc)),
 .svg_ad7356>foreignObject,
 .wrapper__3af0b {
     height: var(--guild-list-height)
 }

 .expandedFolderBackground__1bec6 {
     width: calc(var(--guild-list-width) - 24px);
     border-radius: min(24px, var(--guild-item-radius))
 }

 .svg_ad7356>foreignObject {
     transform: translateX(calc(((var(--guild-list-width)*-1)/ 2) + 50%))
 }

 .circleIconButton_d8df29,
 .folder__17546,
 .wrapper_d281dd {
     margin-left: 12px;
     width: calc(var(--guild-list-width) - 24px);
     justify-content: start;
     border-radius: var(--guild-item-radius);
     height: var(--guild-list-height)
 }

 .childWrapper__01b9c,
 .closedFolderIconWrapper__7321f,
 .expandedFolderIconWrapper__458cf,
 .folderIconWrapper__72239,
 .wrapper_d281dd img {
     border-radius: var(--guild-item-radius);
     height: var(--guild-list-height);
     width: var(--guild-list-height)
 }

 .ColorwaySelectorBtn,
 .wrapperSimple_a34580 {
     border-radius: 0
 }

 .svg_ad7356 {
     position: static
 }

 [data-dnd-name]:has(.wrapper__3af0b)::after {
     content: attr(data-dnd-name);
     width: calc(var(--guild-list-width) - 24px - var(--guild-list-height) - 12px);
     position: absolute;
     top: 0;
     left: calc(12px + var(--guild-list-height) + 6px);
     flex-wrap: nowrap;
     align-items: center;
     color: var(--channels-default);
     font-size: var(--guild-item-font-size);
     line-height: var(--guild-list-height);
     font-weight: 500;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     pointer-events: none;
     transition: color .15s ease-out, background-color .15s ease-out
 }

 .circleIconButton_d8df29::after,
 .wrapper_d281dd[data-list-item-id*=guildsnav___]::after {
     content: attr(aria-label);
     width: calc(var(--guild-list-width) - 24px - var(--guild-list-height) - 12px);
     left: calc(12px + var(--guild-list-height) + 6px);
     transition: color .15s ease-out, background-color .15s ease-out;
     position: absolute
 }

 [data-dnd-name]:has(.wrapper__3af0b .selected_f5ec8e, .wrapper__3af0b .hover__043de)::after {
     color: var(--interactive-active)
 }

 :has(.wrapper__3af0b .selected_f5ec8e, .wrapper__3af0b .hover__043de) :is(.wrapper_d281dd, .folder__17546, .circleIconButton_d8df29) {
     background-color: var(--blacktrans);
 }

 .circleIconButton_d8df29::after {
     top: 0;
     align-items: center;
     color: var(--green-360);
     font-size: var(--guild-item-font-size);
     line-height: var(--guild-list-height);
     font-weight: 500;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     pointer-events: none
 }

 .ColorwaySelectorBtn::before,
 .colorwaySelectorIcon {
     height: var(--guild-list-height);
     width: var(--guild-list-height)
 }

 .ColorwaySelectorBtn:hover::after,
 .circleIconButton_d8df29.selected__5250e::after,
 .wrapper_d281dd[data-list-item-id*=guildsnav___].selected_f5ec8e::after {
     color: var(--interactive-active)
 }

 .ColorwaySelectorBtn::after,
 .wrapper_d281dd[data-list-item-id*=guildsnav___]::after {
     top: 0;
     color: var(--channels-default);
     font-size: var(--guild-item-font-size);
     font-weight: 500;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     pointer-events: none;
     line-height: var(--guild-list-height)
 }

 .wrapper_d281dd[data-list-item-id*=guildsnav___]::after {
     align-items: center
 }

 .colorwaySelectorIcon {
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer
 }

 .ColorwaySelectorBtn {
     position: relative;
     width: calc(var(--guild-list-width) - 24px);
     background-color: transparent;
     justify-content: start;
     gap: 6px;
     height: var(--guild-list-height);
     row-gap: 0
 }

 .ColorwaySelectorBtn::before {
     content: "";
     position: absolute;
     background-color: var(--background-primary);
     border-radius: var(--guild-item-radius);
     transition: 0.11249999999999999s ease-out;
     left: 0
 }

 .ColorwaySelectorBtn:hover::before {
     background-color: var(--brand-experiment)
 }

 .ColorwaySelectorBtn::after {
     content: "Colorways";
     width: calc(var(--guild-list-width) - 24px - 48px - 12px);
     left: calc(6px + 48px);
     align-items: center;
     transition: color .15s ease-out, background-color .15s ease-out
 }

 .wrapper_ed1dea>[id*=folder-items-] {
     height: fit-content
 }

 .expandedFolderBackground__1bec6 {
     height: 100%
 }

 .lowerBadge__669e7,
 .upperBadge_c7cfb3 {
     transform: translateX(-50%);
     box-shadow: 0;
     border-radius: 5px;
 }

 .upperBadge_c7cfb3 {
     z-index: 2;
     margin-right: 14px
 }

 .colorwaysBtnPill,
 .pill__13f64,
 .wrapper__3670f,
 div.pill__6b31b.wrapper__3670f {
     height: var(--guild-list-height)
 }

 .item_f9d377 {
     max-height: var(--guild-list-height)
 }

 .ColorwaySelectorBtn::after {
     position: static;
     height: unset;
     line-height: var(--guild-list-height);
     transform: translateX(6px)
 }

 .circleIcon__428dd {
     margin-left: 0;
     width: var(--guild-list-height);
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     padding: calc(var(--guild-list-height)/7)
 }

 .blobContainer__5ee50 .wrapper_d281dd[data-list-item-id*=guildsnav___]::after {
     content: none
 }

 .listItem_fa7b36 {
     margin: 0 0 var(--guild-item-spacing)
 }

 .upperBadge_c7cfb3 {
     box-shadow: 0 0 0 0;
     color: white;
     margin-right: 130px;
     transition: margin-right 0.4123s ease-in-out 0.075s;
 }

 .lowerBadge__669e7 {
     box-shadow: 0 0 0 0;
     color: white;
     margin-right: 122px;
     transition: margin-right 0.4123s ease-in-out 0.075s;
 }

 .guilds__2b93a:hover .upperBadge_c7cfb3 {
     box-shadow: 0 0 0 0;
     color: white;
     margin-right: -105px;
     transition: margin-right 0.4123s ease-in-out 0.125s;
 }

 .guilds__2b93a:hover .lowerBadge__669e7 {
     box-shadow: 0 0 0 0;
     color: white;
     margin-right: -115px;
     transition: margin-right 0.4123s ease-in-out 0.125s;
 }

 .iconBadge_fdf33a,
 .icon__92653 {
     background-color: var(--gren);
     border-radius: 5px;
     padding: 3px;
     min-width: fit-content;
     min-height: 18px;
 }

 .lowerBadge__669e7 {
     background-color: var(--transfull);
     border-radius: 5px;
     padding: 3px;
     min-width: fit-content;
     min-height: 18px;
 }

 .iconBadge_fdf33a {
     margin-right: 8px;
 }

 .baseShapeRound__95d0f {
     border-radius: 5px;
     font-size: 120%;
     min-height: 22px;
     min-width: fit-content;
     padding: 2px;
     margin-right: 12px;
     transition: 0.4123s ease-in-out 0.075s;
 }

 .guilds__2b93a:hover .baseShapeRound__95d0f {
     margin-right: 130px;
     transition: margin-right 0.4123s ease-in-out 0.175s;
 }

 .unreadMentionsIndicatorBottom_fdb943,
 .unreadMentionsIndicatorTop_ada847 {
     align-self: center;
     width: 100%;
     box-shadow: var(--elevation-high);
 }

 .expandedFolderBackground__1bec6 {
     background: var(--blacktrans)
 }

 .guilds__2b93a {
     height: 98%;
     margin-top: 1vh;
     margin-left: 8px;
     margin-right: 8px;
     border-radius: 16px;
     background-color: var(--blacktrans);
     width: 70px;
     transition: 0.4123s ease-in-out 0.075s;
 }

 .guilds__2b93a:hover .folderIconWrapper__72239 {
     width: 174px;
     transition: 0.4123s ease-in-out 0.075s;
 }

 .folderIconWrapper__72239 {
     margin: 0px;
     width: 48px;
     transition: 0.4123s ease-in-out 0.075s;
 }

 .GuildListItemIcon__wrapper.wrapper_d281dd,
 .GuildListFolder__folder.folder__17546 {
     margin-left: 6px;
     width: 48px;
     transition: 0.4123s ease-in-out 0.075s;
 }

 .guilds__2b93a:hover .GuildListItemIcon__wrapper.wrapper_d281dd {
     width: 174px;
     transition: 0.5625s ease-out 0.075s;
 }

 .guilds__2b93a:hover .GuildListFolder__folderIconWrapper,
 .guilds__2b93a:hover .GuildListFolder__collapsed {
     width: 174px;
     transition: 0.5625s ease-out 0.075s;
 }

 .guilds__2b93a:hover {
     transition: 0.5625s ease-out 0.075s;
     width: 198px;
 }

 .scroller__3d071 {
     padding: 12px 12px 0px 5px;
 }

 .GuildListFolder__expanded {
     background-color: var(--blacktrans1);
 }

 .platform-win .sidebar_ded4b5 {
     width: 10px;
     transition: width 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s;
     opacity: 0.7;
 }

 .platform-win .sidebar_ded4b5:hover {
     width: 240px;
     transition: width 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s;
     opacity: 1;
 }

 .wrapper_c727b6{
    background-color: var(--blacktrans);
    border-radius: 8px;
}

.Typing__base.base__512ed{
    width:auto;
    background-color:rgba(0,0,0,0.66);
    height:30px;
}

.Channel__form.form__13a2c{margin-bottom:-10px;}



