/*
 * @name solaananana
 * @author Disease#5663
 * @version 1.0.11
 * @description macOS with barely any customization.
 * @source https://github.com/maenDisease/BetterDiscordStuff/tree/main/Themes/Solana
 * @invite BShu37e4jg
 * @website https://maendisease.github.io/
 * @authorId 678469587444170762
 * @BDEditor Solana
*/
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/Solana.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/addon/mac-titlebar.css');

:root {
  --accent-hue: 213;
  --accent-saturation: 100%;
  --accent-brightness: 50%;
  --background-accent-hue: 213;
  --background-accent-saturation: 100%;
  --background-accent-brightness: 50%;
  --background-image: url('https://i.imgur.com/MKYIiEO.jpg'); /* url(https://site.com/foobar.png) | URL MUST BE A DIRECT(ending in .jpg, .jpeg, .png, .gif) */
  --background-image-position: center;
  --background-image-size: 100%;
  --background-image-blur: 3px;
  --background-overlay-opacity: 70%;
  --background-overlay-color-lightness: -0.94;
  --background-hue-shift-strength: 100%;
  --window-background-image: transparent;
  --window-background-image-position: center;
  --window-background-image-size: cover;
  --window-background-image-attachment: fixed;
  --window-opacity: 15%;
  --window-blur: 13;
  --window-friends-blur: 0;
  --window-margin: 10;
  --window-margin-left: 5;
  --window-border-radius: 24px;
  --window-background-lightness: 1;
  --window-accent-tint-strength: 100%;
  --chat-bubble: 0;
  --text-link-hue: 212;
  --chat-text-brightness: 2;
  --home-icon: url('https://i.imgur.com/2OfZdPa.gif');
  --favorites-icon: url('https://i.imgur.com/dtYy1Kt.gif');
  --dock-blur: 5; /* Blur intensity of the dock. */
  --dock-border-radius: -0.76;
  --sidebar-width: 235px;
  --members-width: 193px;
  --sidebar-text-brightness: 0.2;
  --background-floating-blur: 20px;
  --floating-background-lightness: 1;
  --background-floating-opacity: 1;
  --enable-floating-transparency: 1;
  --custom-font-display: "Comfortaa";
  --custom-font-regular: "Comfortaa";
  --custom-font-primary: "Comfortaa";
  --custom-font-code: "Comfortaa";
  --enable-blur: 1;
}
